<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
  <title>✨Home Files✨</title>
  <style>
    * {
      font-family: sans-serif;
    }

    h1 {
      font-size: xxx-large;
    }

    input,
    p,
    label {
      font-size: medium;
    }

    input[type=file] {
      display: none;
    }

    input[type=button] {
      padding: 0.5em;
      border: none;
      text-decoration: none;
      cursor: pointer;
      background-color: darkslategrey;
      color: ghostwhite;
      border: 1pt solid darkslategrey;
    }

    input[type=button]:hover {
      background-color: ghostwhite;
      color: darkslategrey;
    }

    label {
      background-color: aliceblue;
      color: darkslategrey;
      padding: 0.5em;
    }
  </style>
</head>

<body>
  <h1>✨Home Files✨</h1>
  <input type="file" id="file">
  <input type="button" value="Search 📂" onclick="document.getElementById('file').click()">
  <label>File:</label>
</body>

</html>