<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
  <title>💾</title>
  <style>
    input[type=file] {
      display: none;
    }

    input[type=button] {
      margin: 2pt;
      padding: 2pt;
      background-color: lightslategrey;
      border: none;
    }
  </style>
</head>

<body>
  <h1>💾</h1>
  <input type="file" id="file">
  <input type="button" value="🔎" onclick="document.getElementById('file').click()">
  <label>📂</label>
</body>

</html>